@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------------- Animation des label ------------------------*/
form div label span{
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.5, -0.8, 0.3, 0.7);
}
form div input:focus,
form div input:valid {
    border-color: rgba(0, 0, 0, 0.6);
}
form div input:focus + label span,
form div input:valid + label span {
  transform: translateY(-20px);
  color: rgba(0, 0, 0, 0.6);
}
/*---------------- Effet sur tous les button de la page --------------*/
button{
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:active{
  transform: scale(0.9);
  opacity: 0.8;
}
/*---------------------- Fleche ----------------------*/
.fleche svg{
  stroke-dasharray: 250;
  stroke-dashoffset: 430;
  height: 50px;
  width: 50px;
  transition: all 0.5s cubic-bezier(0, -0.5, 0);
}
.fleche div:last-child svg{
  transform: rotate(180deg);
}
.fleche svg:active{
  stroke-dasharray: 0;
}
.card{
  @apply  h-full w-full hidden transition-all duration-500;
}
.card.active{
  display: block;
}
/*--------------------- Blockquote ----------------------*/
blockquote::before{
  content: '\201C';
  @apply absolute -top-4 left-0 font-semibold text-4xl text-white;
}